---
interface Props {
  name:
    | "warehouse"
    | "truck"
    | "plane"
    | "thermo"
    | "shield"
    | "route"
    | "clipboard"
    | "layers"
    | "snowflake"
    | "pin";
  className?: string;
}

const { name, className = "" } = Astro.props;

const paths: Record<Props["name"], string[]> = {
  warehouse: [
    "M3 10.2 12 4l9 6.2V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-9.8Z",
    "M8 21v-6h8v6",
  ],
  truck: [
    "M3 7h11v8H3z",
    "M14 10h3.7L21 13v2h-7z",
    "M7 18.5a1.8 1.8 0 1 1 0-3.6 1.8 1.8 0 0 1 0 3.6Z",
    "M17 18.5a1.8 1.8 0 1 1 0-3.6 1.8 1.8 0 0 1 0 3.6Z",
  ],
  plane: [
    "M10.2 13.8 3 16l1.2 2 8.8-1 4.8 3-1 1.6 1.6 1L21 20l-2.2-2.4 1-8.8-2-1.2-2.2 7.2-3-4.8 1.6-1-1-1.6L10.2 10l.0 3.8Z",
  ],
  thermo: [
    "M10 5a2 2 0 1 1 4 0v7.2a4 4 0 1 1-4 0Z",
    "M12 11.5V6.4",
  ],
  shield: [
    "M12 3 5 6v5c0 4.2 2.8 8.1 7 10 4.2-1.9 7-5.8 7-10V6l-7-3Z",
    "m9.2 12.2 2 2.1 4-4.4",
  ],
  route: [
    "M7 6a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z",
    "M17 13a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z",
    "M9.5 8.5c4 0 3 7 6.5 7",
  ],
  clipboard: [
    "M9 5.5h6",
    "M9 4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h2v17H7V4h2Z",
    "M9 11h6",
    "M9 15h4",
  ],
  layers: [
    "m12 4 8 4-8 4-8-4 8-4Z",
    "m4 12 8 4 8-4",
    "m4 16 8 4 8-4",
  ],
  snowflake: [
    "M12 3v18",
    "m7.5 5.6 9 12.8",
    "m16.5 5.6-9 12.8",
    "m5 12h14",
  ],
  pin: [
    "M12 21s6-5.3 6-10a6 6 0 1 0-12 0c0 4.7 6 10 6 10Z",
    "M12 13a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4Z",
  ],
};
---

<span class={`icon-chip ${className}`}>
  <svg viewBox="0 0 24 24" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
    {paths[name].map((d) => <path d={d}></path>)}
  </svg>
</span>
